<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<!--List of secret env vars and their values-->
			<url>http://www.edgewordstraining.co.uk/demo-site/my-account/</url>
			<BROWSER>Chrome</BROWSER>
			<username>ryetike3@gmail.com</username>
			<password>nFocusAug22</password>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>
